@font-face {
    font-family: Genshin;
    src: url(/font/zh-cn.ttf);
}

body{ 
    margin: 0%;
    padding: 0%;
    font-family: Genshin;
}

.inazuma{ 
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url("images/inazuma-bg.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
 }
 
 .logo{
     width: 450px;
     margin-left: 100px;
 }
 
 .navbar{
     width: 100%;
     padding: 35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between; 
     background-color: rgba(138, 187, 230, 0.3) ;
 }
 
 .navbar ul li{
     list-style: none;
     display: inline-block;
     font-size: 50px;
     margin: 0 70px;
     position: relative;
     z-index: 2;
     transition: color 1s;
     
 }
 
 .navbar ul li a{
     text-decoration: none;
     color: #fff;
 }
 
 .navbar ul li::after{
     content: '';
     background-color: rgb(108, 226, 235,0.4);
     height: 100%;
     width: 130%;
     border-radius: 120px;
     position: absolute;
     top: 110%;
     left: 50%;
     transform: translate(-50%,-50%);
     z-index: -1;
     opacity: 0;
     transition: all .5s, opacity 0.5s;
 }
 
 
 .navbar ul li:hover::after{
     top: 50%;
     opacity: 1;
 }
 
 /* PARAGRAPH SECTION */
 
 .parag1{
     font-size: 30px;
     margin: 60px;
     color: whitesmoke;
     padding:40px;
 }

 /* Content Section*/
 .raiden{
    background-image: url(images/Raiden.jpg);
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    margin-left: 1150px;
    margin-top: 100px;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style:solid;
    border-width: 10px;
    transition: .5s;
    float: left;
 }
 .raiden:hover{
    transform: scale(1.1); 
    z-index: 1;
 }

 .ina2{
    background-image: url(images/3.2.jpg);
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: center;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style:solid;
    border-width: 10px;
    float: right;
    transition: .5s;

 }

 .ina2:hover{
    transform: scale(1.1); 
    z-index: 1;

 }

 .electro{
    background-image: url(images/3.1.jpg);
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style:solid;
    border-width: 10px;
    transition: .5s;
    margin-right: 150px ;
    margin-left: 100px;
 }
 .electro:hover{
    transform: scale(1.1); 
    z-index: 1
 }
 


  
 