body{
    margin: 0px;
    padding: 0px;
}

.mondstat{ 
   background-image: url(images/mondstat.jpg);
   height: 100vh;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}

.logo{
    width: 250px;
    margin-left: 100px;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(138, 187, 230, 0.3) ;
}
.navbar ul{
    
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    font-size: 40px;
    margin: 0 70px;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li{
    
}

 