body{
    margin: 0px;
    padding: 0px;
}

.bg1{ 
   background-image: url(images/mondstat.jpg);
   height: 100vh;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}
 