body{ 
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: whitesmoke;
}
.mondstat{
    background-size: cover;

    background-image: 
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
}