body{ 
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: whitesmoke;
}
.mondstat{
    background-size: cover;
    background-position: center;
    opacity: 100%;
    background-color: gray;
    background-image: linear-gradient( bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    
}